@page
@model Bmcs.Pages.UserAccount.DeleteModel

@{
    ViewData[ViewDataConstant.Title] = "ユーザ削除(管理者)";
}

<h1>ユーザ削除(管理者)</h1>

<h3>ユーザを削除します。よろしいですか？</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.UserAccountID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.UserAccountID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.UserAccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.UserAccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.TeamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Team.TeamID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount.Team.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.Team.TeamName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserAccount.UserAccountID" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-page="./Index">ユーザ一覧</a>
    </form>
</div>
