@page
@model Bmcs.Pages.UserAccount.IndexModel

@{
    ViewData[ViewDataConstant.Title] = "ユーザ一覧(管理者)";
}

<h1>ユーザ一覧(管理者)</h1>

<p>
    <a asp-page="Create">ユーザ作成</a>
</p>
<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].UserAccountID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].UserAccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].DeleteFLG)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].TeamID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].Team.TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].EntryUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].EntryDatetime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].UpdateUserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount[0].UpdateDatetime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserAccount) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccountID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteFLG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.TeamID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDatetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDatetime)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.UserAccountID">編集</a> |
                    <a asp-page="./Details" asp-route-id="@item.UserAccountID">詳細</a> |
                    <a asp-page="./Delete" asp-route-id="@item.UserAccountID">削除</a>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>
