@page
@model Bmcs.Pages.Order.EditModel


<h1>@ViewData[ViewDataConstant.Title]</h1>

<h4>@Model.Game.Team.TeamName</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <span asp-validation-for="Game.GameID" class="text-danger"></span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Game.GameID" />
            <div class="table-responsive">
                <table class="table table-hover table-sm table-bordered" id="order">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 10%;">
                                @Html.DisplayNameFor(model => model.OrderList[0].DisplayBattingOrder)
                            </th>
                            <th style="width: 50%;">
                                @Html.DisplayNameFor(model => model.OrderList[0].MemberID)
                            </th>
                            <th style="width: 20%;">
                                @Html.DisplayNameFor(model => model.OrderList[0].PositionClass)
                            </th>
                            <th style="width: 20%;">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.OrderList.Count; i++)
                        {
                            <tr id="@("OrderList_" + i.ToString())">
                                <td class="text-center align-middle js-displaybattingorder">
                                    @Html.DisplayFor(modelItem => Model.OrderList[i].DisplayBattingOrder)
                                </td>
                                <td>
                                    <select asp-for="@Model.OrderList[i].MemberID" class="form-control js-memberid js-rename" asp-items="@Model.MemberIDList"></select>
                                </td>
                                <td>
                                    <select asp-for="@Model.OrderList[i].PositionClass" class="form-control js-positionclass js-rename" asp-items="@Model.PositionClassList"></select>
                                </td>
                                <td>
                                    <input type="button" value="削除" class="btn btn-danger js-order-delete" />
                                    <input class="js-battingorder js-rename" type="hidden" asp-for="@Model.OrderList[i].BattingOrder" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OrderList[i].GameID" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OrderList[i].TeamID" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OrderList[i].GameSceneID" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OrderList[i].ParticipationIndex" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OrderList[i].ParticipationClass" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="button" value="オーダー追加" class="btn btn-success" id="add-order" />
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm table-bordered" id="only-defense">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 10%;">

                            </th>
                            <th style="width: 50%;">
                                @Html.DisplayNameFor(model => model.OrderList[0].MemberID)
                            </th>
                            <th style="width: 20%;">
                                @Html.DisplayNameFor(model => model.OrderList[0].PositionClass)
                            </th>
                            <th style="width: 20%;">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.OnlyDefenseList.Count; i++)
                        {
                            <tr id="@("OnlyDefenseList_" + i.ToString())">
                                <td class="js-displaybattingorder">
                                </td>
                                <td>
                                    <select asp-for="@Model.OnlyDefenseList[i].MemberID" class="form-control js-memberid js-rename" asp-items="@Model.MemberIDList"></select>
                                </td>
                                <td>
                                    <select asp-for="@Model.OnlyDefenseList[i].PositionClass" class="form-control js-positionclass js-rename" asp-items="@Model.PositionClassList"></select>
                                </td>
                                <td>
                                    <input type="button" value="削除" class="btn btn-danger js-only-defense-delete js-rename" data-index="@i" />
                                    <input class="js-battingorder js-rename" type="hidden" asp-for="@Model.OnlyDefenseList[i].BattingOrder" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OnlyDefenseList[i].GameID" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OnlyDefenseList[i].TeamID" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OnlyDefenseList[i].GameSceneID" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OnlyDefenseList[i].ParticipationIndex" />
                                    <input class="js-rename" type="hidden" asp-for="@Model.OnlyDefenseList[i].ParticipationClass" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="button" value="守備のみ追加" class="btn btn-success" id="add-only-defense" />
            </div>
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (Model.OrderList.FirstOrDefault().GameSceneID == null)
    {
        <a asp-page="/Game/Edit" asp-route-id="@Model.Game.GameID">試合情報へ戻る</a>
    }
    else
    {
        <a asp-page="/GameScene/Edit"  asp-route-id="@Model.Game.GameID">試合へ戻る</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/order.js"></script>
}

