@page
@model Bmcs.Pages.Game.IndexModel

@{
    ViewData[ViewDataConstant.Title] = "試合一覧";
}

<h1>試合一覧</h1>

<h4>@Model.Team.TeamName</h4>
@if (Model.IsMyTeam)
{
    <p>
        <a asp-page="Create">試合へ</a>
    </p>
}
<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].GameDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].GameClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].OpponentTeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].OpponentTeamAbbreviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].StadiumName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].WeatherClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].WinLoseClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].GameScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].BatFirstBatSecondClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].GameInputTypeClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Game[0].StatusClassName)
                </th>
                @if (Model.IsAdmin())
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Game[0].EntryUserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game[0].EntryDatetime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game[0].UpdateUserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game[0].UpdateDatetime)
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Game)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpponentTeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpponentTeamAbbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StadiumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeatherClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WinLoseClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BatFirstBatSecondClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameInputTypeClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusClassName)
                </td>
                @if (Model.IsAdmin())
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDatetime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateDatetime)
                    </td>
                }
                @if (Model.IsMyTeam || Model.IsAdmin())
                {
                    <td>
                        @if (item.StatusClass == StatusClass.DuringGame)
                        {
                            <a asp-page="/GameScene/Edit" asp-route-gameID="@item.GameID">試合入力</a>
                            <span> |</span>
                        }
                        @if (item.StatusClass == StatusClass.BeforeFix
                           || item.StatusClass == StatusClass.EndGame)
                        {
                            <a asp-page="/GameScore/Edit" asp-route-gameID="@item.GameID">試合結果編集</a>
                            <span> |</span>
                        }
                        @if (item.StatusClass == StatusClass.EndGame)
                        {
                            <a asp-page="/GameScore/Details" asp-route-gameID="@item.GameID">試合結果詳細</a>
                            <span> |</span>
                        }
                        <a asp-page="./Edit" asp-route-id="@item.GameID">編集</a> |
                        <a asp-page="./Details" asp-route-id="@item.GameID">詳細</a> |
                        <a asp-page="./Delete" asp-route-id="@item.GameID">削除</a>
                    </td>
                }
                else
                {
            <td>
                @if (item.StatusClass == StatusClass.EndGame)
                        {
                <a asp-page="/GameScore/Details" asp-route-gameID="@item.GameID">試合結果詳細</a>
                <span> |</span>
                        }
                <a asp-page="./Details" asp-route-id="@item.GameID">詳細</a>
            </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
