@page
@model Bmcs.Pages.GameScore.EditModel


<h1>@ViewData[ViewDataConstant.Title]</h1>

<h4>@Model.Game.Team.TeamName</h4>
<hr />
<form method="post">

    @if (Model.Game.GameInputTypeClass == GameInputTypeClass.ByPlay)
    {
        <div class="form-group">
            <input type="button" value="再集計する" class="btn btn-danger js-submit" data-submitclass="@GameScoreSubmitClass.ReCount" />
        </div>
        <div class="form-group">
            <a class="btn btn-primary" asp-page="/InningScore/Index" asp-route-gameID="@Model.Game.GameID">イニング詳細</a>
        </div>
    }

    <span asp-validation-for="Game.GameID" class="text-danger"></span>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Game.GameID" />

    <div class="table-responsive">
        <table id="inning-score" class="table table-sm table-bordered" style="table-layout:fixed">
            <thead class="thead-light">
                <tr>
                    <th style="width: 100px;" class="align-middle column-fix-left">
                        チーム名
                    </th>
                    @foreach (var inning in Model.InningScoreTopList)
                    {
                        <th style="width: 60px;" class="text-center align-middle js-title-score-th">
                            @inning.Inning
                        </th>
                    }
                    <th style="width: 60px;" class="text-center align-middle column-fix-right">
                        計
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="align-middle column-fix-left">
                        @if (Model.Game.BatFirstBatSecondClass == BatFirstBatSecondClass.First)
                        {
                            @Html.DisplayFor(model => Model.Game.Team.TeamAbbreviation)
                        }
                        else
                        {
                            @Html.DisplayFor(model => Model.Game.OpponentTeamAbbreviation)
                        }
                    </td>
                    @for (int i = 0; i < Model.InningScoreTopList.Count; i++)
                    {
                        <td id="@("InningScoreTopList_" + i.ToString())" class="text-center align-middle js-top-score-td">
                            <input class="form-control js-rename js-top-score" asp-for="@Model.InningScoreTopList[i].Score" min="0" />
                        </td>
                    }
                    <td class="text-center align-middle column-fix-right">
                        <span class="js-top-sum">
                            @Model.InningScoreTopList.Select(r => r.Score).Sum()
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle column-fix-left">
                        @if (Model.Game.BatFirstBatSecondClass == BatFirstBatSecondClass.First)
                        {
                            @Model.Game.OpponentTeamAbbreviation
                        }
                        else
                        {
                            @Model.Game.Team.TeamAbbreviation
                        }
                    </td>
                    @for (int i = 0; i < Model.InningScoreButtomList.Count; i++)
                    {
                        <td id="@("InningScoreButtomList_" + i.ToString())" class="text-center align-middle js-buttom-score-td">
                            <input class="form-control js-rename js-buttom-score" asp-for="@Model.InningScoreButtomList[i].Score" min="0" />
                        </td>
                    }
                    <td class="text-center align-middle column-fix-right">
                        <span class="js-buttom-sum">
                            @Model.InningScoreButtomList.Select(r => r.Score).Sum()
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <input type="button" value="イニング追加" class="btn btn-success" id="add-inning" />
        <input type="button" value="イニング削除" class="btn btn-danger" id="delete-inning" />
    </div>


    <div class="box">
        <div class="box-title">
            投手成績
        </div>
        <div class="box-inner">
            <div class="table-responsive">
                <table id="pitcher-score" class="table table-sm table-bordered" style="table-layout:fixed">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 150px;" class="column-fix-left">
                                投手名
                            </th>
                            <th style="width: 80px;">
                                勝敗HS
                            </th>
                            <th style="width: 60px;">
                                先発
                            </th>
                            <th style="width: 60px;">
                                完投
                            </th>
                            <th style="width: 80px;">
                                イニング
                            </th>
                            <th style="width: 80px;">
                                打席
                            </th>
                            <th style="width: 80px;">
                                打数
                            </th>
                            <th style="width: 70px;">
                                被安打
                            </th>
                            <th style="width: 80px;">
                                被本塁打
                            </th>
                            <th style="width: 60px;">
                                失点
                            </th>
                            <th style="width: 70px;">
                                自責点
                            </th>
                            <th style="width: 70px;">
                                与四球
                            </th>
                            <th style="width: 70px;">
                                与死球
                            </th>
                            <th style="width: 100px;">
                                得点圏打席
                            </th>
                            <th style="width: 100px;">
                                得点圏打数
                            </th>
                            <th style="width: 110px;">
                                得点圏被安打
                            </th>
                            <th style="width: 70px;">
                                奪三振
                            </th>
                            <th style="width: 70px;">
                                牽制死
                            </th>
                            <th style="width: 60px;">
                                WP
                            </th>
                            <th style="width: 60px;">
                                ボーク
                            </th>
                            <th style="width: 70px;" class="column-fix-right">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.GameScorePitcherList.Count; i++)
                        {
                            <tr id="@("GameScorePitcherList_" + i.ToString())">
                                <td class="column-fix-left">
                                    <select asp-for="@Model.GameScorePitcherList[i].MemberID" class="form-control js-rename" asp-items="@Model.MemberIDList"></select>
                                </td>
                                <td>
                                    <select asp-for="@Model.GameScorePitcherList[i].GameScorePitcherClass" class="form-control js-rename" asp-items="@Model.GameScorePicherClassList"></select>
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].Starter" min="0" max="1" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].CompleteGame" min="0" max="1" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].Inning" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].PlateAppearance" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].AtBat" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].Hit" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].HomeRun" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].Run" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].EarnedRun" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].FourBall" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].DeadBall" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].ScoringPositionPlateAppearance" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].ScoringPositionAtBat" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].ScoringPositionHit" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].StrikeOut" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].PickOffBallOut" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].WildPitch" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScorePitcherList[i].Balk" min="0" />
                                </td>
                                <td class="column-fix-right">
                                    <input type="button" value="削除" class="btn btn-danger js-pitcher-delete" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="button" value="追加" class="btn btn-success" id="add-pitcher-score" />
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-title">
            野手成績
        </div>
        <div class="box-inner">
            <div class="table-responsive">
                <table id="fielder-score" class="table table-sm table-bordered" style="table-layout:fixed">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 150px;" class="column-fix-left">
                                野手名
                            </th>
                            <th style="width: 300px;">
                                打席結果
                            </th>
                            <th style="width: 60px;">
                                打席
                            </th>
                            <th style="width: 60px;">
                                打数
                            </th>
                            <th style="width: 60px;">
                                安打
                            </th>
                            <th style="width: 70px;">
                                二塁打
                            </th>
                            <th style="width: 70px;">
                                三塁打
                            </th>
                            <th style="width: 70px;">
                                本塁打
                            </th>
                            <th style="width: 60px;">
                                打点
                            </th>
                            <th style="width: 60px;">
                                得点
                            </th>
                            <th style="width: 100px;">
                                盗塁企画数
                            </th>
                            <th style="width: 60px;">
                                盗塁
                            </th>
                            <th style="width: 60px;">
                                四球
                            </th>
                            <th style="width: 60px;">
                                死球
                            </th>
                            <th style="width: 60px;">
                                犠打
                            </th>
                            <th style="width: 60px;">
                                犠牲
                            </th>
                            <th style="width: 60px;">
                                残塁
                            </th>
                            <th style="width: 100px;">
                                得点圏打席
                            </th>
                            <th style="width: 100px;">
                                得点圏打数
                            </th>
                            <th style="width: 100px;">
                                得点圏安打
                            </th>
                            <th style="width: 60px;">
                                三振
                            </th>
                            <th style="width: 70px;">
                                併殺打
                            </th>
                            <th style="width: 70px;">
                                敵失策
                            </th>
                            <th style="width: 110px;">
                                被盗塁企画数
                            </th>
                            <th style="width: 100px;">
                                盗塁阻止数
                            </th>
                            <th style="width: 60px;">
                                補殺
                            </th>
                            <th style="width: 60px;">
                                失策
                            </th>
                            <th style="width: 60px;">
                                PB
                            </th>
                            <th style="width: 70px;" class="column-fix-right">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.GameScoreFielderList.Count; i++)
                        {
                            <tr id="@("GameScoreFielderList_" + i.ToString())">
                                <td class="column-fix-left">
                                    <select asp-for="@Model.GameScoreFielderList[i].MemberID" class="form-control js-rename" asp-items="@Model.MemberIDList"></select>
                                </td>
                                <td>
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].Detail" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].PlateAppearance" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].AtBat" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].Hit" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].DoubleHit" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].TripleHit" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].HomeRun" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].RBI" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].Run" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].StolenBasePlan" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].StolenBase" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].FourBall" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].DeadBall" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].Sacrifice" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].SacrificeFly" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].LeftOnBase" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].ScoringPositionPlateAppearance" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].ScoringPositionAtBat" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].ScoringPositionHit" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].StrikeOut" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].DoublePlay" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].Error" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].StolenBasePlaned" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].StopStolenBase" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].Assist" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].OwnError" min="0" />
                                </td>
                                <td class="text-center align-middle">
                                    <input class="form-control js-rename" asp-for="@Model.GameScoreFielderList[i].PassBall" min="0" />
                                </td>
                                <td class="column-fix-right">
                                    <input type="button" value="削除" class="btn btn-danger js-fielder-delete" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="button" value="追加" class="btn btn-success" id="add-fielder-score" />
            </div>

            <input id="game-score-submit-class" type="hidden" asp-for="@Model.GameScoreSubmitClass" />
        </div>
    </div>

    <div class="form-group">
        <input type="button" value="確定" class="btn btn-primary js-submit" data-submitclass="@GameScoreSubmitClass.Fix" />
    </div>
</form>

<div class="form-group">
    <a class="btn btn-secondary" asp-page="/Game/Index" asp-route-teamID="@Model.Game.TeamID">試合一覧へ戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/game-score.js"></script>
}

