@page
@model Bmcs.Pages.Inquiry.DeleteModel

@{
    ViewData[ViewDataConstant.Title] = "お問い合わせ削除(管理者)";
}

<h1>@ViewData[ViewDataConstant.Title]</h1>

<h6 class="text-danger">お問い合わせを削除します。よろしいですか？</h6>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.InquiryTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.InquiryTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.InquiryDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.InquiryDetail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.ReplyFLG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.ReplyFLG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.CompleteFLG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.CompleteFLG)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Inquiry.InquiryID" />
        <input type="submit" value="削除" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-page="./Index">戻る</a>
    </form>
</div>
