@page
@model Bmcs.Pages.Message.IndexModel

<h1 class="d-inline-block">
    @ViewData[ViewDataConstant.Title]
</h1>

@await Html.PartialAsync("~/Pages/Shared/_Help.cshtml")

@if (!string.IsNullOrEmpty(Model.SelectTeamID))
{
<h4>@Model.Team.TeamName</h4>
}

<form method="post" asp-page="/Message/Index">
    <input type="hidden" asp-for="MessagePageClass" name="messagePageClass" />
    <input type="hidden" asp-for="MessageID" name="messageID" />
    <input type="hidden" asp-for="Message.TeamID" />
    <input type="hidden" asp-for="Message.UserAccountID" />
    <div class="row">
        @if (Model.IsEnablePostReply)
        {
        <div class="col-md-6">
            <div class="box">
                <div class="box-title">
                    @ViewData[ViewDataConstant.MessageMode]
                </div>
                <div class="box-inner">
                    <div class="form-group">
                        <p>@Model.UserAccount.UserAccountName</p>
                    </div>
                    @if (Model.MessageID == null)
                        {
                    <div class="form-group">
                        <label asp-for="Message.MessageTitle" class="control-label"></label>
                        <input asp-for="Message.MessageTitle" class="form-control">
                        <span asp-validation-for="Message.MessageTitle" class="text-danger"></span>
                    </div>
                        }
                        else
                        {
                    <input type="hidden" asp-for="Message.MessageTitle" />
                        }
                    <div class="form-group">
                        <label asp-for="Message.MessageDetail" class="control-label"></label>
                        <textarea asp-for="Message.MessageDetail" class="form-control"></textarea>
                        <span asp-validation-for="Message.MessageDetail" class="text-danger"></span>
                    </div>
                    @if (Model.MessageID == null && Model.MyTeam.PublicFLG)
                        {
                    <div class="form-group">
                        <label asp-for="Message.PrivateTeamID" class="control-label"></label>
                        <select asp-for="Message.PrivateTeamID" class="form-control" asp-items="Model.TeamIDList"></select>
                        <p class="text-danger pt-2">
                            送信先を指定するとダイレクト(非公開)メッセージになります。<br />
                            全チームに対する公開メッセージにしたい場合は指定不要です。
                        </p>
                    </div>
                        }
                        else
                        {
                    @if (!Model.MyTeam.PublicFLG)
                            {
                    <p class="text-danger pt-2">
                        非公開チームの場合、公開投稿や他チームへのメッセージは送信できません。
                    </p>
                            }
                    <input type="hidden" asp-for="Message.PrivateTeamID" />
                        }
                    <div class="form-group">
                        <input type="submit" value="@ViewData[ViewDataConstant.MessageMode]" class="btn btn-primary btn-block" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                @if (Model.MessageID == null)
                    {
                <a class="btn btn-secondary" asp-page="/Top/Index">戻る</a>
                    }
                    else
                    {
                <a class="btn btn-secondary" asp-page="/Message/Index" asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID">戻る</a>
                    }
            </div>
        </div>
        }

        <div class="col-md-6">
            @if (!Model.IsEnablePostReply)
        {
            <div class="form-group">
                @if (Model.MessageID == null)
                {
                <a class="btn btn-secondary" asp-page="/Top/Index">戻る</a>
                }
                else
                {
                <a class="btn btn-secondary" asp-page="/Message/Index" asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID">戻る</a>
                }
            </div>
        }

            <div class="box">
                @if (Model.MessageID == null)
            {
                <div class="box-title">
                    メッセージ
                </div>
                <div class="box-inner">
                    @if (Model.IsLogin())
                    {
                    <table class="table table-sm table-borderless">
                        <tbody>
                            <tr>
                                <td style="width:25%">
                                    <a class="btn btn-outline-primary btn-block Public" asp-page="/Message/Index" asp-route-messagePageClass="@MessagePageClass.Public" asp-route-teamID="@Model.SelectTeamID">@MessagePageClass.Public.GetEnumName()</a>
                                </td>
                                <td style="width:25%">
                                    <a class="btn btn-outline-primary btn-block PublicTeam" asp-page="/Message/Index" asp-route-messagePageClass="@MessagePageClass.PublicTeam" asp-route-teamID="@Model.SelectTeamID">@MessagePageClass.PublicTeam.GetEnumName()</a>
                                </td>
                                <td style="width:25%">
                                    <a class="btn btn-outline-primary btn-block RelatedTeam" asp-page="/Message/Index" asp-route-messagePageClass="@MessagePageClass.RelatedTeam" asp-route-teamID="@Model.SelectTeamID">@MessagePageClass.RelatedTeam.GetEnumName()</a>
                                </td>
                                <td style="width:25%">
                                    <a class="btn btn-outline-primary btn-block Private" asp-page="/Message/Index" asp-route-messagePageClass="@MessagePageClass.Private" asp-route-teamID="@Model.SelectTeamID">@MessagePageClass.Private.GetEnumName()</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    }
                    @foreach (var item in Model.MessageList.OrderByDescending(r => r.UpdateDatetime))
                    {
                    <div class="form-group border-bottom">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="card-title font-weight-bold">
                                    @item.MessageTitle
                                </div>
                                <div class="card-subtitle text-muted">
                                    <a asp-page="/Team/Details" asp-route-id="@item.TeamID">@item.Team.TeamName</a>
                                    <span>：</span>
                                    <span>@item.UserAccount.UserAccountName</span>
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.Raw(item.MessageDetail.ReplaceNewLineForHtml())
                            </div>
                            <div class="card-footer">
                                <span>更新日時：@item.UpdateDatetimeFormat</span>
                                <span>&nbsp;</span>
                                <span>返信件数：@item.ReplyCount 件</span>
                                <span>&nbsp;</span>
                                <a class="btn btn-primary btn-sm" asp-page="/Message/Index" asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID" asp-route-messageID="@item.MessageID">確認＆返信</a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
            else
            {
                <div class="box-title">
                    メッセージ履歴
                </div>
                <div class="box-inner">
                    @foreach (var item in Model.MessageList.OrderBy(r => r.EntryDatetime))
                    {
                        var messageClass = "form-group";

                        if (item.MessageClass == MessageClass.Post)
                        {
                            messageClass += " border-bottom";
                        }
                        else
                        {
                            messageClass += " ml-5";
                        }

                    <div class="@messageClass">
                        <div class="card mb-3">
                            <div class="card-header">
                                @if (item.MessageClass == MessageClass.Post)
                                    {
                                <div class="card-title font-weight-bold">
                                    @item.MessageTitle
                                </div>
                                    }
                                <div class="card-subtitle text-muted">
                                    <a asp-page="/Team/Details" asp-route-id="@item.TeamID">@item.Team.TeamName</a>
                                    <span>：</span>
                                    <span>@item.UserAccount.UserAccountName</span>
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.Raw(item.MessageDetail.ReplaceNewLineForHtml())
                            </div>
                            <div class="card-footer">
                                <span>投稿日時：@item.EntryDatetimeFormat</span>
                                <span>&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
            </div>

            @{
            var prevDisabled = !Model.MessageList.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.MessageList.HasNextPage ? "disabled" : "";
            }

            <div class="mt-1">
                <ul class="pagination">
                    <li class="page-item @prevDisabled">
                        <a asp-page="/Message/Index"
                           asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID" asp-route-messageID="@Model.MessageID"
                           class="page-link">
                            <<
                        </a>
                    </li>

                    @if (Model.MessageList.PageIndex >= 4)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            …
                        </span>
                    </li>
                }

                    @for (var i = Model.MessageList.PageIndex - 2; i <= Model.MessageList.PageIndex + 2; i++)
                {
                    @if (i < 1 || i > Model.MessageList.TotalPages)
                    {
                        continue;
                    }

                    @if (Model.MessageList.PageIndex == i)
                    {
                    <li class="page-item active">
                        <a asp-page="/Message/Index"
                           asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID" asp-route-messageID="@Model.MessageID"
                           asp-route-pageIndex="@(i)"
                           class="page-link">
                            @(i)
                        </a>
                    </li>
                    }
                    else
                    {
                    <li class="page-item">
                        <a asp-page="/Message/Index"
                           asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID" asp-route-messageID="@Model.MessageID"
                           asp-route-pageIndex="@(i)"
                           class="page-link">
                            @(i)
                        </a>
                    </li>
                    }
                }

                    @if (Model.MessageList.TotalPages - Model.MessageList.PageIndex >= 3)
                {
                    <li class="page-item disabled">
                        <span class="page-link">
                            …
                        </span>
                    </li>
                }

                    <li class="page-item @nextDisabled">
                        <a asp-page="/Message/Index"
                           asp-route-messagePageClass="@Model.MessagePageClass" asp-route-teamID="@Model.SelectTeamID" asp-route-messageID="@Model.MessageID"
                           asp-route-pageIndex="@(Model.MessageList.TotalPages)"
                           class="page-link">
                            >>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/message.js" asp-append-version="true"></script>
}
