@page
@model Bmcs.Pages.Team.DeleteModel

@{
    ViewData[ViewDataConstant.Title] = "チーム削除(管理者)";
}

<h1>チーム削除(管理者)</h1>

<h3>チームを削除します。よろしいですか？</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.RepresentativeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.RepresentativeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamCategoryClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamCategoryClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.UseBallClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.UseBallClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.ActivityBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.ActivityBase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamEmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamEmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.MessageDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.MessageDetail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.PublicFLG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.PublicFLG)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Team.TeamID" />
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-page="./Index">チーム一覧</a>
    </form>
</div>
