@page
@model Bmcs.Pages.Team.DetailsModel

@{
    ViewData[ViewDataConstant.Title] = "チーム情報";
}

<h1>チーム情報</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamAbbreviation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamAbbreviation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.RepresentativeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.RepresentativeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamCategoryClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamCategoryClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.UseBallClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.UseBallClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.ActivityBase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.ActivityBase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamEmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamEmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.MessageDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.MessageDetail)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">チーム一覧</a>
</div>
