@page
@model Bmcs.Pages.Team.IndexModel

@{
    ViewData[ViewDataConstant.Title] = "チーム一覧";
}

<h1 class="d-inline-block">
    @ViewData[ViewDataConstant.Title]
</h1>

@await Html.PartialAsync("~/Pages/Shared/_Help.cshtml")

<div class="form-group">
    @if (Model.IsAdmin())
    {
        <a class="btn btn-primary" asp-page="Create">チーム作成</a>
        <p>※すべてのチームが表示対象です</p>
    }
    else
    {
        <p>※公開チームのみ表示対象です</p>
    }
    <a class="btn btn-secondary" asp-page="/Top/Index">戻る</a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamAbbreviation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].RepresentativeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamCategoryClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].UseBallClassName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].ActivityBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].TeamEmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team[0].MessageDetail)
                </th>
                @if (Model.IsAdmin())
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].TeamPassword)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].PublicFLG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].DeleteFLG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].EntryUserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].EntryDatetime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].UpdateUserID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Team[0].UpdateDatetime)
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Team)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamAbbreviation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RepresentativeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamCategoryClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UseBallClassName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TeamEmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageDetail)
                    </td>
                    @if (Model.IsAdmin())
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamPassword)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublicFLG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeleteFLG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntryUserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntryDatetime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateUserID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDatetime)
                        </td>
                    }

                    <td>
                        <a class="btn btn-primary btn-sm" asp-page="/Game/Index" asp-route-teamID="@item.TeamID">試合</a>
                        <span>&nbsp;</span>
                        <a class="btn btn-primary btn-sm" asp-page="/Score/Index" asp-route-scorePageClass="@ScorePageClass.Index" asp-route-teamID="@item.TeamID" asp-route-isPublic="@true" asp-route-teamCategoryClass="@TeamCategoryClass.All" asp-route-useBallClass="@UseBallClass.All">成績</a>
                        <span>&nbsp;</span>
                        <a class="btn btn-primary btn-sm" asp-page="./Details" asp-route-id="@item.TeamID">詳細</a>
                        <span>&nbsp;</span>
                        <a class="btn btn-primary btn-sm" asp-page="/Member/Index" asp-route-teamID="@item.TeamID">メンバー</a>
                        @if (Model.IsAdmin())
                        {
                            <span>&nbsp;</span>
                            <a class="btn btn-primary btn-sm" asp-page="./Edit" asp-route-id="@item.TeamID">編集</a>
                            <span>&nbsp;</span>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.TeamID">削除</a>
                        }
                        @if (Model.MyTeam != null && Model.MyTeam.PublicFLG)
                        {
                            <span>&nbsp;</span>
                            <a class="btn btn-primary btn-sm" asp-page="/Message/Index" asp-route-messagePageClass="@MessagePageClass.Public" asp-route-privateTeamID="@item.TeamID">メッセージを送る</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>