@page
@model Bmcs.Pages.Member.DetailsModel

@{
    ViewData[ViewDataConstant.Title] = "メンバー情報";
}

<h1>メンバー情報</h1>

<div>
    <h4>@Model.Member.Team.TeamName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.UniformNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.UniformNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MemberClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.ThrowClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.ThrowClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.BatClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.BatClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.PositionGroupClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.PositionGroupClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MessageDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MessageDetail)
        </dd>
        @if (Model.IsAdmin())
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.EntryUserID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.EntryUserID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.EntryDatetime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.EntryDatetime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.UpdateUserID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.UpdateUserID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.UpdateDatetime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.UpdateDatetime)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Index" asp-route-teamID="@Model.Member.Team.TeamID">メンバー一覧</a>
</div>
