@page
@model Bmcs.Pages.Member.DetailsModel

@{
    ViewData[ViewDataConstant.Title] = "メンバー情報";
}

<h1>@ViewData[ViewDataConstant.Title]</h1>

<div>
    <h4>@Model.Member.Team.TeamName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.UniformNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.UniformNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MemberClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.ThrowClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.ThrowClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.BatClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.BatClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.PositionGroupClassName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.PositionGroupClassName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.MessageDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.MessageDetail)
        </dd>
        @if (Model.IsAdmin())
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.EntryUserID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.EntryUserID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.EntryDatetime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.EntryDatetime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.UpdateUserID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.UpdateUserID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Member.UpdateDatetime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Member.UpdateDatetime)
            </dd>
        }
    </dl>

    @if (Model.GameScorePitcherList.Any())
    {
        <div class="box">
            <div class="box-title">
                投手成績
            </div>
            <div class="box-inner">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th class="column-fix-left">
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].GameCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Starter)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].CompleteGame)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].WinRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Win)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Lose)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Hold)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Save)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].EarnedRunAverage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Inning)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].BattingAverage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].PlateAppearance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].AtBat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Hit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].HomeRun)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Run)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].EarnedRun)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].FourBall)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].DeadBall)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Whip)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].ScoringPositionBattingAverage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].ScoringPositionPlateAppearance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].ScoringPositionAtBat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].ScoringPositionHit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].StrikeOutRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].StrikeOut)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].PickOffBallOut)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].WildPitch)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScorePitcherList[0].Balk)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GameScorePitcherList.OrderBy(r => r.Year))
                            {
                                <tr>
                                    <td class="column-fix-left">
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.GameCount)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Starter)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.CompleteGame)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.WinRateFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Win)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Lose)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Hold)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Save)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.EarnedRunAverageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Inning)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.BattingAverageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.PlateAppearance)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.AtBat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Hit)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.HomeRun)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Run)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.EarnedRun)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.FourBall)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.DeadBall)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.WhipFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionBattingAverageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionPlateAppearance)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionAtBat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionHit)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StrikeOutRateFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StrikeOut)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.PickOffBallOut)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.WildPitch)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Balk)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    @if (Model.GameScoreFielderList.Any())
    {
        <div class="box">
            <div class="box-title">
                野手成績
            </div>
            <div class="box-inner">
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th class="column-fix-left">
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].GameCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].BattingAverage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].PlateAppearance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].AtBat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Hit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].DoubleHit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].TripleHit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].HomeRun)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].TotalBase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].RBI)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Run)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StolenBaseSuccessRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StolenBasePlan)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StolenBase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].FourBall)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].DeadBall)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Sacrifice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].SacrificeFly)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].LeftOnBase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].OnBasePercentage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].SluggingPercentage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Ops)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].ScoringPositionBattingAverage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].ScoringPositionPlateAppearance)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].ScoringPositionAtBat)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].ScoringPositionHit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StrikeOut)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].DoublePlay)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Error)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StopStolenBaseRate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StolenBasePlaned)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].StopStolenBase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].Assist)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].OwnError)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GameScoreFielderList[0].PassBall)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GameScoreFielderList.OrderBy(r => r.Year))
                            {
                                <tr>
                                    <td class="column-fix-left">
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.GameCount)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.BattingAverageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.PlateAppearance)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.AtBat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Hit)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.DoubleHit)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.TripleHit)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.HomeRun)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.TotalBase)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.RBI)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Run)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StolenBaseSuccessRateFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StolenBasePlan)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StolenBase)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.FourBall)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.DeadBall)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Sacrifice)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.SacrificeFly)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.LeftOnBase)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.OnBasePercentageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.SluggingPercentageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.OpsFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionBattingAverageFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionPlateAppearance)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionAtBat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.ScoringPositionHit)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StrikeOut)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.DoublePlay)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Error)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StopStolenBaseRateFormat)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StolenBasePlaned)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.StopStolenBase)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.Assist)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.OwnError)
                                    </td>
                                    <td class="text-center align-middle">
                                        @Html.DisplayFor(modelItem => item.PassBall)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<div class="form-group">
    <a class="btn btn-secondary" asp-page="./Index" asp-route-teamID="@Model.Member.Team.TeamID">戻る</a>
</div>
